.main {
    width: 80%;
    margin: 0 auto;
}
.box {
    display: grid;
    grid-template-columns: 50% 50%;
}
.box .picture img {
    width: 100%;
}
.box .picture img[src="dog1.jpg"] {
    box-shadow: 0 5px 12px rgba(0,0,0,0.2);
    border: 8px solid white;
    width: 60%;
    transform: rotate(15deg);
}
.box {
    margin-top: 200px;
}
.box .content {
    margin-top: 200px;
    text-align: center;
}